<template>
    <address-list v-bind="{ addresses }">
        <template slot-scope="{ id, name, street, postal_code, city, primary }">
            <div class="row align-items-center">
                <div class="col">
                    <strong>{{ name }}</strong>
                    <br>
                    <span class="text-muted">
                        {{ street }}
                        <br>
                        {{ postal_code }} {{ city }}
                    </span>
                </div>
                <div class="col flex-grow-0 text-nowrap text-right">
                    <confirm
                        v-if="!primary"
                        text="Your current primary address will be overridden."
                        @confirm="setAsPrimary(id)"
                    >
                        <button class="btn btn-primary btn-sm">Set as Primary</button>
                    </confirm>

                    <button v-else class="btn btn-dark btn-sm" disabled>Primary</button>

                    <confirm text="You won't be able to recover the address once it's deleted." @confirm="destroy(id)">
                        <button class="btn btn-danger btn-sm">
                            <span class="fas fa-trash"></span>
                        </button>
                    </confirm>
                </div>
            </div>
        </template>
    </address-list>
</template>

<script>
    export default {
        props: {
            addresses: Array,
        },

        methods: {
            setAsPrimary(id) {
                axios
                    .put('/primary-address', { address_id: id })
                    .then(() => window.location.reload())
            },

            destroy(id) {
                axios
                    .delete(`/addresses/${id}`)
                    .then(() => window.location.reload())
            },
        },
    }
</script>
