<template>
    <div class="list-group">
        <div v-for="address in addresses" :key="address.id" class="list-group-item">
            <slot v-bind="address"></slot>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            addresses: Array,
        },
    }
</script>
