<template>
    <button type="button" class="btn btn-primary" :disabled="isButtonDisabled" @click="addToCart">
        <span v-if="!outOfStock" class="fas fa-fw fa-cart-plus"></span>
        {{ buttonText }}
    </button>
</template>

<script>
    export default {
        props: {
            productId: Number,
            productName: String,
            availableQuantity: Number,
        },

        data: () => ({
            loading: false,
        }),

        computed: {
            outOfStock() {
                return this.availableQuantity === 0
            },

            isButtonDisabled() {
                return this.loading || this.outOfStock
            },

            buttonText() {
                return this.outOfStock ? 'Out of Stock' : 'Add to Cart'
            },
        },

        methods: {
            addToCart() {
                const data = {
                    product_id: this.productId,
                }

                this.loading = true

                axios
                    .post('/cart/add', data)
                    .then(() => this.successful())
                    .catch(() => (this.loading = false))
            },

            successful() {
                swal({
                    titleText: 'Done!',
                    text: `${this.productName} has been added to your cart.`,
                    type: 'success',
                }).then(() => window.location.reload())
            },
        },
    }
</script>
