<template>
    <div>
        <button class="btn btn-primary" v-bind="$attrs" @click="isModalVisible = true">
            <span class="fas fa-credit-card fa-fw"></span>
            Checkout
        </button>

        <portal v-if="isModalVisible" to="modals">
            <modal-checkout v-if="isModalVisible" v-bind="{ addresses }" @close="isModalVisible = false"></modal-checkout>
        </portal>
    </div>
</template>

<script>
    export default {
        props: {
            addresses: Array,
        },

        data: () => ({
            isModalVisible: false,
        }),
    }
</script>
