<template>
    <button class="btn btn-primary btn-sm" @click="isModalVisible = true">Add a New Address
        <portal v-if="isModalVisible" to="modals">
            <modal-address-create @close="isModalVisible = false"></modal-address-create>
        </portal>
    </button>
</template>

<script>
    export default {
        data: () => ({
            isModalVisible: false,
        }),
    }
</script>
