<template>
    <button class="btn btn-outline-primary" @click="isDeliveryModalVisible = true">
        <span class="fas fa-truck fa-fw"></span>

        <portal v-if="isDeliveryModalVisible" to="modals">
            <modal-delivery :delivery-id="deliveryId" :items="items" @close="isDeliveryModalVisible = false"/>
        </portal>
    </button>
</template>

<script>
    export default {
        props: {
            deliveryId: Number,
            items: Array,
        },

        data: () => ({
            isDeliveryModalVisible: false,
        }),
    }
</script>
