<template>
    <confirm v-bind="{ text }" @confirm="handleConfirm">
        <a href="#" v-bind="$attrs">
            <slot></slot>
        </a>
    </confirm>
</template>

<script>
    export default {
        inheritAttrs: false,

        props: {
            href: String,
            text: String,
        },

        methods: {
            handleConfirm() {
                window.location = this.href
            },
        },
    }
</script>
