<template>
    <confirm @confirm="deleteProduct">
        <button class="btn btn-danger">
            <span class="fas fa-trash"></span>
        </button>
    </confirm>
</template>

<script>
    export default {
        props: {
            product: Object,
        },

        methods: {
            deleteProduct() {
                const data = {
                    product_id: this.product.id,
                }

                axios.post('/cart/delete', data).then(() => this.successful())
            },

            successful() {
                swal({
                    titleText: 'Done!',
                    text: `${pluralize(
                        'piece',
                        this.product.pivot.quantity,
                        true
                    )} of ${this.product.name} ${pluralize(
                        'have',
                        this.product.pivot.quantity
                    )} been removed from your cart.`,
                    type: 'success',
                }).then(() => window.location.reload())
            },
        },
    }
</script>
