<template>
    <div class="favorite-container" @click="toggle">
        <span class="fa-heart" :class="faStyle"></span>
    </div>
</template>

<script>
    export default {
        props: {
            productId: Number,
            initialFavorite: Boolean,
        },

        data: vm => ({
            favorite: vm.initialFavorite,
        }),

        computed: {
            faStyle() {
                return {
                    fas: this.favorite,
                    far: !this.favorite,
                }
            },
        },

        methods: {
            toggle() {
                const request = axios({
                    method: this.favorite ? 'delete' : 'post',
                    url: `/products/${this.productId}/favorites`,
                })

                request.then(response => (this.favorite = response.data.favorite))
            },
        },
    }
</script>

<style lang="scss" scoped>
    .favorite-container {
        background-color: #fff;
        padding: 1rem;
        border-radius: 100px;
        cursor: pointer;
        z-index: 100;
        top: 1rem;
        box-shadow: inset 0 0 1px 0px rgba(0, 0, 0, 0.7);

        &:hover {
            box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
        }
    }
</style>