<template>
    <form v-bind="$attrs" v-on="$listeners">
        <div class="form-group">
            <label for="name">Name</label>
            <input
                v-model="form.name"
                type="text"
                id="name"
                class="form-control"
                :class="{ 'is-invalid': form.errors.has('name') }"
                placeholder="Mujo Mujić"
            >
            <div class="invalid-feedback">{{ form.errors.first('name') }}</div>
        </div>

        <div class="form-group">
            <label for="street">Street</label>
            <input
                v-model="form.street"
                type="text"
                id="street"
                class="form-control"
                :class="{ 'is-invalid': form.errors.has('street') }"
                placeholder="Zmaja od Bosne bb"
            >
            <div class="invalid-feedback">{{ form.errors.first('street') }}</div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="postal-code">Postal Code</label>
                <input
                    v-model="form.postal_code"
                    type="number"
                    id="postal-code"
                    class="form-control"
                    :class="{ 'is-invalid': form.errors.has('postal_code') }"
                    placeholder="71000"
                >
                <div class="invalid-feedback">{{ form.errors.first('postal_code') }}</div>
            </div>

            <div class="form-group col-md-8">
                <label for="city">City</label>
                <input
                    v-model="form.city"
                    type="text"
                    id="city"
                    class="form-control"
                    :class="{ 'is-invalid': form.errors.has('city') }"
                    placeholder="Sarajevo"
                >
                <div class="invalid-feedback">{{ form.errors.first('city') }}</div>
            </div>
        </div>

        <div class="form-check">
            <input v-model="form.save_address" id="primary" type="checkbox" class="form-check-input">
            <label class="form-check-label" for="primary">Save Address to Your Account</label>
        </div>

        <div v-if="form.save_address" class="form-check">
            <input v-model="form.primary" id="save-address" type="checkbox" class="form-check-input">
            <label class="form-check-label" for="save-address">Set the New Address as Primary</label>
        </div>
    </form>
</template>

<script>
    export default {}
</script>

