<template>
    <swiper class="image-gallery" :options="options">
        <swiper-slide v-for="(image, index) in images" :key="index">
            <img :src="image" alt="Image Unavailable">
        </swiper-slide>
        <div class="swiper-button-prev swiper-button-black" slot="button-prev"></div>
        <div class="swiper-button-next swiper-button-black" slot="button-next"></div>
    </swiper>
</template>

<script>
    export default {
        props: {
            initialImages: Array,
        },

        data: vm => ({
            images: vm.initialImages,
            options: {
                loop: true,
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
            },
        }),
    }
</script>

<style scoped>
    .image-gallery {
        height: 20rem;
    }

    .image-gallery img {
        width: 100%;
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        position: absolute;
        left: 50%;
        top: 50%;
    }
</style>
