<template>
    <confirm-link class="d-inline-block btn btn-outline-danger" v-bind="$attrs" :href="href">
        <span class="fas fa-trash fa-fw"></span>
    </confirm-link>
</template>

<script>
    export default {
        props: {
            href: String,
        },
    }
</script>
