<template>
    <modal ref="modal" v-bind="$attrs" v-on="$listeners">
        <template slot="title">Checkout</template>

        <template v-if="addresses.length > 0">
            <p>Here is a list of address that have been added to your account. You can choose to ship the item to any of the addresses below, or you can choose a new address. Your primary address has already been selected for your convenience.</p>

            <modal-checkout-address-list
                :selected-address-id="selectedAddressId"
                :addresses="addresses"
                @select="selectAddress"
            ></modal-checkout-address-list>

            <p v-if="!isCreateAddressFormVisible" class="text-center mt-3">
                <button class="btn btn-primary btn-sm" @click="createAddress">Choose a Different Address Instead</button>
            </p>

            <hr v-else>
        </template>

        <template v-else>
            <p>It appears that you have not saved any addresses to your account yet. You can use the form below to choose an address where the items will be shipped to. For future convenience, you may save this address to have it easily accessible at checkout.</p>
            <hr>
        </template>

        <form v-if="isCreateAddressFormVisible" id="form-checkout" @submit.prevent="checkout">
            <div class="form-group">
                <label for="name">Name</label>
                <input
                    v-model="form.name"
                    type="text"
                    id="name"
                    class="form-control"
                    :class="{ 'is-invalid': form.errors.has('name') }"
                    placeholder="Mujo Mujić"
                >
                <div class="invalid-feedback">{{ form.errors.first('name') }}</div>
            </div>

            <div class="form-group">
                <label for="street">Street</label>
                <input
                    v-model="form.street"
                    type="text"
                    id="street"
                    class="form-control"
                    :class="{ 'is-invalid': form.errors.has('street') }"
                    placeholder="Zmaja od Bosne bb"
                >
                <div class="invalid-feedback">{{ form.errors.first('street') }}</div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="postal-code">Postal Code</label>
                    <input
                        v-model="form.postal_code"
                        type="number"
                        id="postal-code"
                        class="form-control"
                        :class="{ 'is-invalid': form.errors.has('postal_code') }"
                        placeholder="71000"
                    >
                    <div class="invalid-feedback">{{ form.errors.first('postal_code') }}</div>
                </div>

                <div class="form-group col-md-8">
                    <label for="city">City</label>
                    <input
                        v-model="form.city"
                        type="text"
                        id="city"
                        class="form-control"
                        :class="{ 'is-invalid': form.errors.has('city') }"
                        placeholder="Sarajevo"
                    >
                    <div class="invalid-feedback">{{ form.errors.first('city') }}</div>
                </div>
            </div>

            <div class="form-check">
                <input v-model="form.save_address" id="primary" type="checkbox" class="form-check-input">
                <label class="form-check-label" for="primary">Save Address to Your Account</label>
            </div>

            <div v-if="form.save_address" class="form-check">
                <input v-model="form.primary" id="save-address" type="checkbox" class="form-check-input">
                <label class="form-check-label" for="save-address">Set the New Address as Primary</label>
            </div>
        </form>

        <hr>

        <p>
            Once the checkout is completed, we'll ship the item to you within
            <strong>3 business days</strong>. You'll receive an email once the shipment is en route!
        </p>

        <button slot="button" type="submit" form="form-checkout" class="btn btn-primary" :disabled="loading">Continue</button>
    </modal>
</template>

<script>
    import Form from '../support/Form'

    export default {
        props: {
            addresses: Array,
        },

        data: () => ({
            loading: false,
            selectedAddressId: 0,
            isCreateAddressFormVisible: false,
            form: new Form({
                name: '',
                street: '',
                postal_code: '',
                city: '',
                primary: true,
                save_address: true,
            }),
        }),

        methods: {
            checkout() {
                this.loading = true

                axios
                    .post('/cart/checkout', this.form.data())
                    .then(
                        () => this.successful(),
                        error => this.form.onFail(error.response.data.errors)
                    )
                    .finally(() => (this.loading = false))
            },

            successful() {
                this.$refs.modal.close()

                swal({
                    titleText: 'Thank You!',
                    html: `
                                                                                    <p>
                                                                                        Now that the checkout has completed, we'll proceed by
                                                                                        packaging your items and shipping them to the address
                                                                                        you've selected. That usually happens within
                                                                                        <strong>3 business days</strong>.
                                                                                    </p>
                                                                                    <p>
                                                                                        We'll send you an email once the shipment is en route.
                                                                                        Until then, feel free to continue browsing and looking
                                                                                        for products to your liking!
                                                                                    </p>
                                                                                `,
                    type: 'success',
                }).then(() => window.location.reload())
            },

            selectAddress(address) {
                this.selectedAddressId = address.id
                this.form.name = address.name
                this.form.street = address.street
                this.form.postal_code = address.postal_code
                this.form.city = address.city
            },

            createAddress() {
                this.form.reset()
                this.isCreateAddressFormVisible = true
            },
        },

        created() {
            const primaryAddress = this.addresses.find(address => address.primary)

            if (primaryAddress) {
                this.selectAddress(primaryAddress)
            } else {
                this.isCreateAddressFormVisible = true
            }
        },
    }
</script>
