<template>
    <modal ref="modal" v-bind="$attrs" v-on="$listeners">
        <template slot="title">Ship an Order</template>

        <p>Below you'll find a list of items that should be packaged before shipping. Please click on an item to mark that item as packaged. In case you make a mistake and accidentally mark an item as packaged, you can click on the item again to unmark it.</p>

        <div class="list-group mb-3">
            <div
                v-for="item in items"
                :key="item.id"
                class="list-group-item list-group-item-action"
                :class="{ 'list-group-item-light': isInBox(item.id) }"
                @click="toggle(item.id)"
            >
                <div class="row align-items-center">
                    <div class="col" :class="{ 'text-linethrough': isInBox(item.id) }">
                        <strong>{{ item.pivot.quantity }}</strong>
                        <span class="text-muted">&times;</span>
                        {{ item.name }}
                    </div>
                    <div class="col flex-grow-0">
                        <input type="checkbox" :value="item.id" v-model="checked">
                    </div>
                </div>
            </div>
        </div>

        <p>Once all of the items have been placed in the box, the button below will let you proceed to mark this order as shipped.</p>

        <button slot="button" class="btn btn-primary" :disabled="loading || !readyToShip" @click="ship">Ship</button>
    </modal>
</template>

<script>
    export default {
        props: {
            deliveryId: Number,
            items: Array,
        },

        data: () => ({
            loading: false,
            checked: [],
        }),

        computed: {
            isInBox() {
                return id => this.checked.includes(id)
            },

            readyToShip() {
                return this.items.length === this.checked.length
            },
        },

        methods: {
            toggle(id) {
                const index = this.checked.indexOf(id)

                if (index !== -1) {
                    this.checked.splice(index, 1)
                } else {
                    this.checked.push(id)
                }
            },

            ship() {
                this.loading = true

                axios
                    .post(`/pending-deliveries/${this.deliveryId}/ship`)
                    .then(() => this.done())
            },

            done() {
                this.$refs.modal.close()

                swal({
                    titleText: 'Great job!',
                    text:
                        "The delivery has been marked as shipped. We've notified the customer that their order is en route!",
                    type: 'success',
                }).then(() => window.location.reload())
            },
        },
    }
</script>
