<template>
    <div class="modal fade" tabindex="-1" ref="modal">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" :class="additionalClasses">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <slot name="title"></slot>
                    </h5>
                    <button type="button" class="close" @click="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <slot></slot>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @click="close">Close</button>
                    <slot name="button"></slot>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { when } from '../support/helpers'

    export default {
        props: {
            size: String,
        },

        computed: {
            additionalClasses() {
                return [...when(this.size, `modal-${this.size}`)]
            },
        },

        methods: {
            close() {
                this.$emit('close')
            },
        },

        mounted() {
            $(this.$refs.modal).modal('show')
        },

        beforeDestroy() {
            $(this.$refs.modal).modal('hide')
        },
    }
</script>
