<template>
    <address-list v-bind="{ addresses }">
        <template slot-scope="{ id, name, street, postal_code, city }">
            <div class="row align-items-center">
                <div class="col">
                    <strong>{{ name }}</strong>
                    <br>
                    <span class="text-muted">
                        {{ street }}
                        <br>
                        {{ postal_code }} {{ city }}
                    </span>
                </div>
                <div class="col flex-grow-0 text-nowrap text-right">
                    <button v-if="selectedAddressId === id" class="btn btn-dark btn-sm" disabled>Selected</button>
                    
                    <button
                        v-else
                        class="btn btn-primary btn-sm"
                        @click="$emit('select', { id, name, street, postal_code, city })"
                    >Select</button>
                </div>
            </div>
        </template>
    </address-list>
</template>

<script>
    export default {
        props: {
            selectedAddressId: Number,
            addresses: Array,
        },
    }
</script>
