<template>
    <span v-if="!isEditing" class="text-nowrap">
        <strong>{{ currentPrice | Currency(2) }}</strong>
        
        <a href="#" data-toggle="tooltip" title="Edit the price" @click.prevent="edit">
            <span class="fas fa-edit fa-fw"></span>
        </a>
    </span>

    <div v-else class="input-group input-group-sm">
        <input
            v-model="editablePrice"
            type="number"
            class="form-control"
            step="0.01"
            min="0"
            :disabled="isLoading"
            @keydown.enter="update"
        >

        <div class="input-group-append">
            <button class="btn btn-primary" :disabled="isLoading" @click="update">
                <span v-if="!isLoading" class="fas fa-save fa-fw"></span>
                <span v-else class="fas fa-circle-notch fa-fw fa-spin"></span>
            </button>
        </div>
    </div>
</template>

<script>
    import Currency from '../filters/Currency'
    import { formatNumber } from 'accounting-js'

    export default {
        filters: { Currency },

        props: {
            productId: Number,
            initialPrice: Number,
        },

        data: vm => ({
            isEditing: false,
            isLoading: false,
            currentPrice: vm.initialPrice,
            editablePrice: null,
        }),

        methods: {
            edit() {
                this.isEditing = true
                this.isLoading = false
                this.editablePrice = this.currentPrice / 100
            },

            update() {
                this.isLoading = true

                axios
                    .patch(`/products/${this.productId}/update-price`, {
                        price: this.editablePrice,
                    })
                    .then(
                        () => {
                            this.isEditing = false
                            this.currentPrice = this.editablePrice * 100
                        },
                        () => (this.isLoading = false)
                    )
            },
        },
    }
</script>
