<template>
	<div>
		<input
			v-model="value"
	        type="range"
	        :name="name"
	        class="form-control-range"
	        v-bind="{ min, max }"
	    >

	   	<p>
	   		Show products in the price range of
	   		<strong>{{ min | Currency }}</strong>
	   		to
	   		<strong>{{ value | Currency }}.</strong>
   		</p>
	</div>
</template>

<script>
	import Currency from '../filters/Currency'

	export default {
		filters: { Currency },

		props: {
			min: Number,
			max: Number,
			initialValue: Number,
			name: String,
		},

		data: vm => ({
			value: vm.initialValue,
		})
	}
</script>
