<template>
    <treeselect
        :options="hierarchy"
        :default-expand-level="1"
        :normalizer="normalizer"
        :name="name"
        v-bind="$attrs"
        v-on="$listeners"
    ></treeselect>
</template>

<script>
    import Treeselect from '@riophae/vue-treeselect'
    import '@riophae/vue-treeselect/dist/vue-treeselect.css'

    export default {
        components: { Treeselect },

        props: {
            categories: Array,
            name: String,
        },

        computed: {
            hierarchy() {
                let map = []
                let roots = []
                let list = this.categories.slice()

                for (let i = 0; i < list.length; i++) {
                    map[list[i].id] = i
                }

                for (let i = 0; i < list.length; i++) {
                    const node = list[i]

                    if (!node.parent_category_id) {
                        roots.push(node)
                        continue
                    }

                    const parent = list[map[node.parent_category_id]]

                    if (!parent.children) {
                        parent.children = []
                    }

                    parent.children.push(node)
                }

                return roots
            },
        },

        methods: {
            normalizer(node) {
                return {
                    id: node.id,
                    label: node.name,
                }
            },
        },
    }
</script>
