<template>
    <treeselect :options="manufacturers" :normalizer="normalizer" :name="name" v-bind="$attrs" v-on="$listeners"></treeselect>
</template>

<script>
    import Treeselect from '@riophae/vue-treeselect'
    import '@riophae/vue-treeselect/dist/vue-treeselect.css'

    export default {
        components: { Treeselect },

        props: {
            manufacturers: Array,
            name: String,
        },

        methods: {
            normalizer(manufacturer) {
                return {
                    id: manufacturer.id,
                    label: manufacturer.name,
                }
            },
        },
    }
</script>
