<template>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Qty</span>
        </div>

        <input type="number" class="form-control" :min="1" :max="maxQuantity" v-model="quantity">

        <div class="input-group-append">
            <button type="button" class="btn btn-primary" @click="updateQuantity" :disabled="buttonDisabled">Update</button>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            product: Object,
            purchasedQuantity: Number,
            remainingQuantity: Number,
        },

        data: vm => ({
            loading: false,
            quantity: vm.purchasedQuantity,
        }),

        computed: {
            maxQuantity() {
                return this.purchasedQuantity + this.remainingQuantity
            },

            buttonDisabled() {
                return (
                    this.loading || this.purchasedQuantity === Number(this.quantity)
                )
            },
        },

        methods: {
            updateQuantity() {
                const data = {
                    product_id: this.product.id,
                    quantity: this.quantity,
                }

                this.loading = true

                axios
                    .post('/cart/update', data)
                    .then(() => this.successful(), () => (this.loading = false))
            },

            successful() {
                swal({
                    titleText: 'Done!',
                    text: `The quantity of ${
                        this.product.name
                    } in your cart has been updated to ${this.quantity} pieces.`,
                    type: 'success',
                }).then(() => window.location.reload())
            },
        },
    }
</script>
