// Fonts
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Swiper
@import '~swiper/dist/css/swiper.min.css';

// Partials
@import 'partials/utilities';
@import 'partials/cart';
@import 'partials/products';
@import 'partials/nav';

body {
    max-width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    background-size: 100%;
    height: 100%;
}

.header-pop {
    background-image: url(../images/banner.jpg);
    padding: 219px 0 0 0;
}

.carousel-img {
    width: 100%;
    display: block;
    height: 360px;
}

.dark-bg {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-image: url('../images/carousel-bg.jpg');
    color: white;
}

.panel-content {
    width: 100%;
    padding: 1rem;
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.2);
    background-color: $white;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.footer-bg {
    background-color: $black;
    color: $white;
}

.filter-box {
    width: 100%;
    background-color: #dadada;
    padding: 1rem;
    border-radius: 5px;
}
