.navbar-pop {
    width: 100%;
    position: absolute;
    top: 165px;
    z-index: 10;
    background: rgba(0, 0, 0, 0.85) !important;
}

.nav-category-link {
    width: 7rem;
    text-align: center;
    border-right: 1px solid rgba(255, 255, 255, 0.5);

    &:not(:last-child) {
        border-left: 1px solid rgba(255, 255, 255, 0.5);
    }
}

.nav-link-pop:hover {
    color: rgba(255, 255, 255, 1) !important;
}
