.product-container {
    display: flex;
    flex-direction: column;
}

.product-heart {
    position: absolute;
    top: 2rem;
    left: 2rem;
}

.product-price {
    font-size: 1.1rem;
    font-weight: bold;
}
